%div.about-wrapper

%div.info-wrapper
  %p KAYLA FITZGERALD IS A  GRAPHIC DESIGNER, LETTERER, AND PRINT MAKER BASED IN PROVIDENCE, RI. KAYLA RECEIVED HER BFA FROM RHODE ISLAND COLLEGE IN 2013. SHE CONTINUES TO EXPLORE ALL ASPECTS OF THE CREATIVE WORLD AND IS ALWAYS EXCITED TO LEARN NEW THINGS.

  %p WHEN SHE’S NOT NERDING OUT OVER TYPOGRAPHIC HIERARCHY, KAYLA PLAYS THE GUITAR AND RAVENOUSLY DIGS THROUGH RECORD SHOPS FOR WEIRD MUSIC. SHE ALSO ENJOYS TACKLING PEOPLE, CLIMBING STUFF, AND ANY FORM OF DARK HUMOR.
