%div.contact-wrapper

%div.contact-info
  %img( src="/images/text/CONTACTPAGEtext.png")

%div.contact-links
  %a{ :href => "https://www.behance.net/KaylaFitzgerald"}
    %img( src="/images/behance.png")
  %a{ :href => "https://www.instagram.com/k.la_a/"}
    %img( src="/images/insta.png")
  %a{ :href => "https://www.linkedin.com/in/kayla-fitzgerald-348154119"}
    %img( src="/images/linkedin.png")
