!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")

    %title= "Kayla Fitzgerald"
    %link(rel="stylesheet" href="stylesheets/foundation.min.css")
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/stylesheets/application.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/stylesheets/about.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/stylesheets/resume.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/stylesheets/contact.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/stylesheets/portfolio.css'}

  %body
    .wrapper
      = yield

      %div.navigation
        %ul#page-navigation
          %li
            %a{ :href => "/about"}
              %img( src="/images/text/ABOUTbtn.png")
          %li
            %a{ :href => "/portfolio"}
              %img( src="/images/text/PORTFOLIObtn.png")
          %li
            %a{ :href => "/resume"}
              %img( src="/images/text/RESUMEbtn.png")
          %li
            %a{ :href => "/contact"}
              %img( src="/images/text/CONTACTbtn.png")
