$break-small: 640px;

div.contact-wrapper {
  content:url('../images/contact-photo.jpg');
  max-width: 100%;
  height: auto;

  @media screen and (max-width: $break-small) {
    content:url('../images/contact-page-mobile.jpg');
  }
}

.contact-info {
  width: 42%;
  position: absolute;
  top: 50%;
  left: 5%;

  @media screen and (max-width: $break-small) {
    width: 66%;
    top: 70%;
  }
}

.contact-links {
  position: absolute;
  bottom: 24%;
  left: 5.5%;
  @media screen and (max-width: $break-small) {
    bottom: 15%;
  }
}


.contact-links img {
  width: 50px;
  @media screen and (max-width: $break-small) {
    width: 30px;
  }
}
