.wrapper {
  padding: 16px;
}

.navigation {
  background-color: white;
  position: fixed;
  bottom: 0;
}

#page-navigation {
  text-align: center;
  margin: 16px 0px;
}

#page-navigation li {
  display: inline;
  padding: 20px 130px;
}

#page-navigation li a {
  color: black;
  font-size: 1.75rem;
}

#page-navigation li a:hover {
  color: #802828;
}

.resume-wrapper {
  background-color: black;
  padding: 5% 10%;
}

.contact-info {
  position: absolute;
  bottom: 22%;
  left: 7%;
}

.contact-info img {
  width: 50px;
}

.info-wrapper {
  position: absolute;
  top: 30%;
  width: 33%;
  left: 6%;
  font-size: 14px;
}
